<body>
<mat-toolbar color="primary">
    <button mat-button>Home</button>
    <button mat-button>Hospital</button>
</mat-toolbar>



<mat-card class ="topTitleBackgound">  
    <mat-card class ="topTitle">
            <h3 style="font-size:40px;">Hospital</h3>
    </mat-card>

    <mat-card class = "top-card">
            <mat-toolbar style="font-size:20px;" style="background:rgb(75, 119, 190)">Hospital Profile</mat-toolbar>
        <div class="example-container">
            <mat-form-field class="full-width-input" style="width: 100% ;">
                <input matInput placeholder="Hospital Name">
            </mat-form-field>

            <mat-form-field class="full-width-input" style="width: 100% ;">
                <input matInput placeholder="Hospital Branch">
            </mat-form-field>

            <mat-form-field class="full-width-input" style="width: 50% ;">
                <mat-select placeholder="Hospital type">
                    <mat-option value="option">โรงพยาบาลรัฐ</mat-option>
                    <mat-option value="option">โรงพยาบาลเอกชน</mat-option>
                </mat-select>
            </mat-form-field>
        
            <mat-toolbar style="font-size:20px;" style="background:rgb(75, 119, 190)">Hospital Address</mat-toolbar>
            
            
            <mat-form-field class="full-width-input" style="width: 50% ;">
                <mat-select placeholder="Sub-District">
                    <mat-option value="option">สุรนารี</mat-option>
                </mat-select>
            </mat-form-field>

            
            <mat-form-field class="full-width-input" style="width: 50% ;">
                <mat-select placeholder="District">
                    <mat-option value="option">เมือง</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="full-width-input" style="width: 50% ;">
                <mat-select placeholder="Provice">
                    <mat-option value="option">Bangkok</mat-option>
                    <mat-option value="option">Korat</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width-input" style="width: 50% ;">
                <input matInput placeholder="Phone">
            </mat-form-field>
        </div>
     </mat-card>

     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
</mat-card>
</body>


